
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Camisas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link href="~/Content/layout.css" rel="stylesheet" type="text/css" media="all">
    @*<link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">*@
</head>
<body id="top">

    <div class="wrapper row0">
        <div id="topbar" class="hoc clear">

            <div class="fl_left">
                <ul>
                    <li><i class="fa fa-phone"></i> (11) 2078-7810</li>
                    <li><i class="fa fa-envelope-o"></i> CriadoParaVoce@hotmail.com</li>
                </ul>
            </div>


        </div>
    </div>

    <div class="wrapper row1">
        <header id="header" class="hoc clear">
            <div id="logo" class="fl_left">
                <h1> <a>@Html.ActionLink("Criado Para Você", "Index", "Home")</a> </h1>
                <p>Trabalho interdisciplinar entre as matérias de: Biologia, Química e Física</p>
            </div>
            <div id="quickinfo" class="fl_right">
                <ul class="nospace inline">
                    <li>
                        <strong></strong><br>
                        <img src="~/img/WhatsApp Image 2019-02-09 at 18.29.53.jpeg" alt="" style="width:200px;  height:90px;"></
                </ul>
            </div>

        </header>
    </div>

    <div class="wrapper row2">
        <nav id="mainav" class="hoc clear">

            <ul class="clear">
                <li class="active"><a href="../index.html">Home</a></li>
                <li>
                    <a class="drop" href="#">Produtos</a>
                    <ul>
                        <li><a>@Html.ActionLink("Canecas", "Caneca", "Home")</a></li>
                        @*<li><a href="">Canecas</a></li>*@
                        @*<li><a href="">Camisas</a></li>*@
                        <li><a>@Html.ActionLink("Capas", "Capas", "Home")</a></li>
                        @*<li><a href="">Outros</a></li>*@
                        <li><a>@Html.ActionLink("Outros", "Outros", "Home")</a></li>
                    </ul>
                </li>
                @*<li><a> @Html.ActionLink("Minha Conta", "Login", "Home") </a></li>*@
                <li><a> @Html.ActionLink("Fale Conosco", "FaleConosco", "Home")</a></li>
                @*BuscarLogin*@
                <li><a>@Html.ActionLink("Buscar Login", "BuscarLogin", "Home")</a></li>
                @*Cadastrar Funcionário*@
                <li><a>@Html.ActionLink("Cadastrar Funcionário", "CadastrarFuncionario", "Home")</a></li>
                @*Buscar Categoria*@
                <li><a>@Html.ActionLink("Buscar Categoria", "BuscarCategoria", "Home")</a></li>
            </ul>

        </nav>
    </div>

    <div class="bgded overlay" style="background-image:url('../../img/backgrounds/praiona.jpg');">
        <div id="breadcrumb" class="hoc clear">

            <h6 class="heading">Camisas</h6>

            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Camisas</a></li>

            </ul>

        </div>
    </div>

    <div class="wrapper row3">
        <main class="hoc container clear">

            <div class="content">

                <div id="gallery">
                    <figure>
                        <header class="heading">Camisas Para Personalização</header>
                        <ul class="nospace clear">
                            <li class="one_quarter first"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter first"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter first"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                            <li class="one_quarter"><a href="#"><img src="~/img/backgrounds/01.png" alt=""></a></li>
                        </ul>
                        <figcaption>Produtos Camisas</figcaption>
                    </figure>
                </div>

                <nav class="pagination">
                    <ul>
                        <li><a href="#">&laquo; Anterior</a></li>
                        <li class="current"><strong>1</strong></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><strong>&hellip;</strong></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Próximo &raquo;</a></li>
                    </ul>
                </nav>

            </div>

            <div class="clear"></div>
        </main>
    </div>
    <div class="wrapper row4">

    </div>

    <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS AQUIIIII -->
    @*<script src="../layout/scripts/jquery.min.js"></script>*@
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.backtotop.js"></script>
    <script src="~/Scripts/jquery.mobilemenu.js"></script>
</body>
</html>